@font-face{
    src : url(fonts/FiraSans-BlackItalic.ttf);
    font-family : firaItalic;
}
header{
    color : black;
}
main{
    color : black;
}
body {
    background-color: lightblue;
}
h1{
    font-family : firaItalic, arial;
    color: black;
}
p{
    color: black;
    border-bottom : 3px solid rgb(255,0,0);
    border-top: 5px dotted rgb(0,20,200);
}
footer{
    color:yellow;
}
#auteur{
    text-shadow: 4px 3px 4px black, -2px -2px 5px red;
}
