@font-face{
    src : url(fonts/FiraSans-BlackItalic.ttf);
    font-family : firaItalic;
}
body {
    background-color: grey;
}
h1{
    font-family : firaItalic, arial;
    border-style: solid;
    border-width: 3px;
    border-color: hsl(297, 88%, 48%);
    border-radius: 20px;
    color: white;
}
p{
    color: white;
    border-bottom : 3px solid rgb(255,0,0);
    border-top: 5px dotted rgb(0,20,200);
}
footer{
    color:yellow;
}
#auteur{
    text-shadow: 4px 3px 4px black, -2px -2px 5px red;
}
