@font-face{
    src : url(fonts/FiraSans-BlackItalic.ttf);
    font-family : firaItalic;
}
header{
    color : black;
}
main{
    color : black;
}
body {
    background-color: lightblue;
}
h1{
    font-family : firaItalic, arial;
    color: black;
}
p{
    color: black;
}
footer{
    color:yellow;
}
#auteur{
    text-shadow: 4px 3px 4px black, -2px -2px 5px red;
}

#monstre_lac{
    float:right;
    margin-left : 20px;
}

#monstre_cover{
    float:left;
    margin-right : 20px;
}

.comments{
    color : red;
}

#bouton{
    font-size: 20px;
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}
    
pre{
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}
